*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 3000px;
    z-index: 3;
}

.header{
    width: 100%;
    height: 55px;
    background-color: rgb(7, 37, 48);
    position: fixed;
    top: 0;
    left: 0;
    opacity: .7;
    border-radius: 30px ;
    box-shadow: 0 5px 10px 0 rgb(11, 2, 61);
    z-index: 9999;
}
.logo{
    width: 10%;
    height: 100%;
    border-radius: 30px;
}
.list{
    margin-right: 50px;
    position: fixed;
    right: 0;
    top: 4%;
    position: absolute;
    z-index: 9999;

}
.list li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    text-transform: capitalize;
}
.list li a{
text-decoration: none;
color: white;

}
.parent{
    background-image:url(imgs/background.jpg) ;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);

}
.content{
    width: 65%;
    height: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}
h1{
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}
h1 span{
    color: red;
}
p{
    font-size: 20px;
    color: #fff;
    padding: 20px;
}
.btn{
    opacity: 0.8;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;

}

.btn2{
    color: white;
    background-color: blue;
    margin-left: 10px;
}
.btn1:hover{
    background-color: #c6bcbc;
}
.btn2:hover{
    background-color: rgb(11, 41, 103);
}
.h1{
    margin: auto;
    position: relative;
}

.line{
    width: 180px;
    height: 3px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
}
.procassor-content1{
    width: 90%;
    height: 50%;
    top: 20px;
    background-color: rgba(7, 28, 41, 0.9);
    text-align: center;
    margin: auto;
    display: flex;
    position: relative;
}
.procassor-content1::after{
    content: "";
    position: absolute;
    width: 0;
    height:100% ;
    top: 0;
    left: 0;
    background-color: rgba(86, 95, 95, 0.5);
    transition: 5s;
}
.procassor-content1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.procassor-content1:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: rgba(28, 32, 32, 0.5);
    transition: 5s;
}
.procassor-content1:hover::before {
    width: 100%;
    height: 100%;
}
.procassor{
    width: 280px;
    height: 200px;
    border: 0;
    background-image: url(imgs/phoho1.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin: auto;
    z-index: 25;
}
.procassor::after{
    content: "";
    position: absolute;
    width: 100%;
    height:0 ;
    top: 0;
    left: 0;
    background-color: rgb(19, 18, 18);
    opacity: 0;
    transition: 1s;
}
.procassor:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
}
.procassor p{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.procassor-content1 a{
    text-decoration: none;
    color: brown;
    font-weight: 900;
}

.img{
    width: 350px;
    height: 350px;
    border: solid 1px;
    border-radius: 50%;
    background-image: url(imgs/phoho2.jpg);
    background-size: cover;
    margin-left: 700px;
    display: block;
    overflow: auto;
    display: flex;
    margin-bottom: -400px;
}
.title1{
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
    margin-left: 50px;
    text-transform: capitalize;    
}
.line{
    width: 180px;
    height: 3px;
    position: relative;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    left: 50px;
    bottom: 15px;
}
.container a{
    color: rgb(206, 210, 8);
    font-size: 22px;
    padding: 10px;
}
.containter3{
    margin-top: 100px;
}

.contenr6{
    width: 100%;
    height: 300px;
    margin: 150px 0;
}
.title6{
    font-size: 50px;
    text-align: center;
}
.line6{
    width: 180px;
    height: 3px;
    margin: auto;
    border: 1px solid red;
    border-radius: 50%;
    background-color: black;
}
.contener6{
    width: 90%;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    overflow: auto;
}

.procassor-overlay6{
    z-index: 20;
    top: 0;
    right: 100px;
    left: 0;
    background-color: #a39696;
    margin: auto;
    display: block;
    width: 30%;
    height: 200px;
    text-align: center;
    position: relative;
}
.procassor-overlay6 a{
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 22px;
    top: 20px;
}
.procassor-overlay6 a i{
color: rgb(141, 28, 28);
margin-top: 60px;
margin-left: 50px;
}
.procassor-overlay6 h2 p{
    margin-top: 20%;
}
.contener7{
    width: 90%;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    overflow: auto;
}

.procassor-overlay6::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.procassor-overlay6:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* 10 */
.container8 {
    margin-top: 320px;
}
.body9{
    width: 110px;
    height: 110px;
    display: inline-block;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 255, 242);
    border-image: initial;
    margin: 25px auto auto;
}
.title8{
    margin-bottom: 25px;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
.line8{
    width: 180px;
    height: 3px;
    position: relative;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    bottom: 15px;
    margin: auto;
}
.comter8{
    position: relative;
    top: 50px;
}
.comtener9{
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 50px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(37, 32, 32);
    width: 300px;
    height: 400px;
    text-align: center;   
    background-image: url(imgs/istockphoto-1352603244-612x612.jpg);
    background-size: cover;
}
.comtener10{
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 400px;
    right: 50px;
    bottom: 0px;
    background-color: rgb(37, 32, 32);
    width: 300px;
    height: 400px;
    text-align: center;   
    background-image: url(imgs/istockphoto-1352603244-612x612.jpg);
    background-size: cover;
}
.comtener11{
    z-index: 20;
    position: relative;
    top: 0px;
    left:750px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(37, 32, 32);
    width: 300px;
    height: 400px;
    text-align: center;   
    background-image: url(imgs/istockphoto-1352603244-612x612.jpg);
    background-size: cover;
}
.q1{
    top: 10px;
}
.comtener9::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.comtener9:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.comtener10::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.comtener10:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.comtener11::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.comtener11:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* 11 */
.containter11{
    top: 80px;
    width: 100%;
    margin: auto;
    position: relative;
}
.titlea11{
    font-size: 50px;
    text-align: center;
    margin: auto;
    position: relative;
}
.linea11{
    width: 180px;
    height: 3px;
    margin: auto;
    border: 1px solid red;
    border-radius: 50%;
    position: relative;
}
.procassor-itemw11{
    margin: auto;
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
    top: 60px;
    background-color: #3f3b3b;
}
.procassor-imgw11{
    background-color: gold;
    width: 95%;
    margin: auto;
    position: relative;
    border-top: 3px solid red;
}
.procassor-imgw11 img{
    width: 100%;
}
.procassor-overlayw11{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, alpha);
    visibility: hidden;
    opacity: 0;
    transition:1s ;
}
.procassor-imgw11:hover .procassor-overlayw11{
    visibility: visible;
    opacity: 1;
}
.procassor-overlayw11 a{
        display: block;
        background-color: blue;
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 22px;
        margin-left: auto;
        border-radius: 50%;
        margin-top: 6px;
        top: 50px;
}
.procassor-overlayw11 a i{
    line-height: 40%;
    margin: 8px;
}
.procassor-infow11 p{
    color: #311919;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containter{
    width: 100%;
    height: 90%;
    margin: auto;
    position: relative;
}
    .title1{
    font-size: 50px;
    text-align: center;
}
.line{
    width: 180px;
    height: 3px;
    background-color: blueviolet; 
    margin: auto; 
    border: 1px solid red;
    border-radius: 50%;
} 
.procassor-item{
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
    background-color: #3f3b3b;
    margin: auto;
    top: 100px;
}
.procassor-img{
    width: 100%;
    margin: auto;
    position: relative;
    border-top: 3px solid red;
    color: rgb(43, 98, 146);
}
.procassor-img img{
    width: 100%;
}
.procassor-overlay{
    color: #461616;
}
.procassor-content2{
    left: 60px;
    margin: auto;
    position: relative;
}
/* 12 */
.contener{
    width: 90%;
    height: 95%;
    margin: auto;
    top: 200px;
    /* background-image: url(imgs/phoho3.jpg); */
    position: relative
}
.cont{
    width: 90%;
    background-color: black;
    position: relative;
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.i {
    color: rgb(252, 252, 252);
    font-size: 30px;
}
.title{
    color: aqua;
    margin-left: 50px;
    margin-top: 100px;
}
/* 14 */
.contenr14{
    border: 2px solid rgb(0, 119, 255);
    height: 100vh;
      width: 90%;
    /* background-image: url(imgs/11-6.jpg); */
    background-repeat: round;
}
.contr{
    width: 150px;
    height: 150px;
    background-image: url(imgs/img1.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 52px;
    margin-top: 70px;
}
.t3 {
    position: relative;
    margin-left: 300px;
    bottom: 140px;
    color: bisque;
}
.t4 {
    position: relative;
    margin-left: 300px;
    bottom: 120px;
    color: rgb(15, 22, 88);
}
.pi {
    position: relative;
    margin-left: 300px;
    bottom: 100px;
    color: bisque;
}
.a1{
    position: relative;
    margin-left: 300px;
    bottom: 140px;
    color: bisque;
}
.a2 {
    position: relative;
    margin-left: 300px;
    bottom: 120px;
    color: rgb(15, 22, 88);
}
.a3 {
    position: relative;
    margin-left: 300px;
    bottom: 100px;
    color: bisque;
}
.contr2{
    width: 150px;
    height: 150px;
    background-image: url(imgs/img2.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 800px;
    margin-bottom: 50px;
}
/* 13 */
.contenr15{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    
}
.cont{
    width: 250px;
    height: 150px;
    position: relative;
    display: inline-block;
    left: 20px;
    top: 100px;
}
.cont21{
    width: 250px;
    height: 150px;
    position: relative;
    display: inline-block;
    left: 100px;
    top: 100px;
}
.cont31{
    width: 250px;
    height: 150px;
    position: relative;
    display: inline-block;
    left: 200px;  
    top: 100px;
}
.titlec11{
    margin: auto;
    display: grid;
    position: relative;
    text-align: center;
}

.cont22::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.cont22:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.cont21::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.cont21:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.cont31::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.9s;
    opacity: 0;
}
.cont31:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.title{
    position: relative;
}
